{%- set operator = "d" -%}
{%- set v = "v" if o_v else "" -%}
Execute:
  1,$y a
  call cursor({{ lnum_before }}, {{ col_before }})
  let @b = ""
  normal! {{ operator }}{{ count }}{{ motion }}
  let g:groundtruth_lnum = line(".")
  let g:groundtruth_col = col(".")
  1,$y b
  let g:groundtruth_buffer = @b

  normal! ggVG"ap
  let @b = ""
  call cursor({{ lnum_before }}, {{ col_before }})
  {%- if prevent_change %}
  call VeCursor({{ lnum_after }}, {{ col_after}})
  {%- else %}
  execute "normal! {{ operator }}{{ v }}:call VeCursor({{ lnum_after }}, {{ col_after }})\<cr>"
  {%- endif %}
  set virtualedit=
  {%- if d_special and not prevent_change %}
  normal! dd
  {%- if nvim %}
  call cursor(line("."), {{ col_before }})
  {%- endif %}
  {%- endif %}
  let g:rust_lnum = line(".")
  let g:rust_col = col(".")
  1,$y b
  let g:rust_buffer = @b

Then:
  AssertEqual g:groundtruth_lnum, g:rust_lnum
  AssertEqual g:groundtruth_col, g:rust_col
  AssertEqual g:groundtruth_buffer, g:rust_buffer

Before:
