Execute:
  call cursor({{ lnum_before }}, {{ col_before }})
  execute "normal! {{ v }}{{ count }}{{ motion }}" | execute "normal! mx\<Esc>"
  let g:groundtruth_lnum = line("'x")
  let g:groundtruth_col = col("'x")

Then:
  AssertEqual g:groundtruth_lnum, {{ lnum_after }}
  AssertEqual g:groundtruth_col, {{ col_after }}
