* This tests for a bug where in all visual modes, when the cursor is at the
* position one character after the last character, motion ge does not go back
* to the last character in the buffer.

{% set keys = ["w", "W", "e", "E", "b", "B", "ge", "gE"] -%}
{%- set bang = "!" if verify else "" -%}
{%- set vim_compatible = true -%}
{%- set nvim_compatible = true %}

Before:
  {%- for k in keys %}
  map {{ k }} <Plug>(Jieba_{{ k }})
  {%- endfor %}

After:
  {%- for k in keys %}
  unmap {{ k }}
  {%- endfor %}

---

{%- if (not vim or vim_compatible) and (not nvim or nvim_compatible) %}

Given:
  abc

Execute (character):
  normal! $
  execute "normal{{ bang }} v$ge\<Esc>"

Then:
  AssertEqual 3, col("'<")
  AssertEqual 3, col("'>")
  AssertEqual 3, col(".")

Execute (line):
  normal! $
  execute "normal{{ bang }} V$ge\<Esc>"

Then:
  AssertEqual 1, col("'<")
  AssertEqual 4, col("'>")
  AssertEqual 3, col(".")

Execute (block):
  normal! $
  execute "normal{{ bang }} \<C-v>$ge\<Esc>"

Then:
  AssertEqual 3, col("'<")
  AssertEqual 3, col("'>")
  AssertEqual 3, col(".")

{% endif %}

---

Before:
After:
