* See https://github.com/kkew3/jieba.vim/issues/11.
* This test contains some spacial case specific to vim.

{% set keys = ["w", "W", "e", "E", "b", "B", "ge", "gE"] -%}
{%- set bang = "!" if verify else "" -%}
{%- set vim_compatible = true -%}
{%- set nvim_compatible = false %}

Before:
  {%- for k in keys %}
  map {{ k }} <Plug>(Jieba_{{ k }})
  {%- endfor %}
  let @a = ""
  let @" = ""

After:
  {%- for k in keys %}
  unmap {{ k }}
  {%- endfor %}

---

{%- if (not vim or vim_compatible) and (not nvim or nvim_compatible) %}

Given (aa bb ccc):
  aa
         
  bb
  
  ccc

Execute (unnamed register for motion e, delete):
  normal! 2gg$
  normal{{ bang }} d2e

Then:
  AssertEqual 1, line(".")
  AssertEqual 1, col(".")

Expect:
  aa

Execute (unnamed register for motion e, delete + paste):
  normal! 2gg$
  normal{{ bang }} d2e
  normal! p

Then:
  AssertEqual 2, line(".")
  AssertEqual 7, col(".")

Expect:
  aa
         
  bb
  
  ccc

---

Given (aa bb ccc):
  aa
  
  bb
         
  ccc

Execute (unnamed register for motion ge, delete):
  normal! 4gg$
  normal{{ bang }} d2ge

Then:
  AssertEqual 2, line(".")
  AssertEqual 1, col(".")

Expect:
  aa
  ccc

Execute (unnamed register for motion ge, delete + paste):
  normal! 4gg$
  normal{{ bang }} d2ge
  normal! p

Then:
  AssertEqual 3, line(".")
  AssertEqual 1, col(".")

Expect:
  aa
  ccc
  
  bb
         

{% endif %}

---

Before:
After:
