* See https://github.com/kkew3/jieba.vim/issues/11.

{% set keys = ["w", "W", "e", "E", "b", "B", "ge", "gE"] -%}
{%- set bang = "!" if verify else "" -%}
{%- set vim_compatible = true -%}
{%- set nvim_compatible = true %}

Before:
  {%- for k in keys %}
  map {{ k }} <Plug>(Jieba_{{ k }})
  {%- endfor %}
  let @a = ""
  let @" = ""

After:
  {%- for k in keys %}
  unmap {{ k }}
  {%- endfor %}

---

{%- if (not vim or vim_compatible) and (not nvim or nvim_compatible) %}

Given (aa bb ccc):
  aa
  
  bb
  
  ccc

Execute (unnamed register for motion e, delete):
  normal! 2gg0
  normal{{ bang }} d2e

Then:
  AssertEqual 1, line(".")
  AssertEqual 1, col(".")

Expect:
  aa

Execute (unnamed register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} d2e
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb
  
  ccc

Execute (named register for motion e, delete):
  normal! 2gg0
  normal{{ bang }} "ad2e

Then:
  AssertEqual 1, line("."), "line should be 1, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa

Execute (named register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} "ad2e
  normal! "ap

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb
  
  ccc

---

Given (aa bb):
  aa
  
  bb
  

Execute (unnamed register for motion ge, delete):
  normal! G0
  normal{{ bang }} d2ge

Then:
  AssertEqual 1, line("."), "line should be 1, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa

Execute (unnamed register for motion ge, delete + paste):
  normal! G0
  normal{{ bang }} d2ge
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb
  

Execute (named register for motion ge, delete):
  normal! G0
  normal{{ bang }} "ad2ge

Then:
  AssertEqual 1, line("."), "line should be 1, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa

Execute (named register for motion ge, delete + paste):
  normal! G0
  normal{{ bang }} "ad2ge
  normal! "ap

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb
  

---

Given (aa bb ccc dd):
  aa
  
  bb
  
  ccc
  dd

Execute (unnamed register for motion e, delete):
  normal! 2gg0
  normal{{ bang }} d2e

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  dd

Execute (unnamed register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} d2e
  normal! p

Then:
  AssertEqual 3, line("."), "line should be 3, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  dd
  
  bb
  
  ccc

Execute (named register for motion e, delete):
  normal! 2gg0
  normal{{ bang }} "ad2e

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  dd

Execute (named register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} "ad2e
  normal! "ap

Then:
  AssertEqual 3, line("."), "line should be 3, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  dd
  
  bb
  
  ccc

---

Given (aa bb ccc):
  aa
  
  bb
  
  ccc

Execute (unnamed register for motion ge, delete):
  normal! 4gg0
  normal{{ bang }} d2ge

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  ccc

Execute (unnamed register for motion ge, delete + paste):
  normal! 4gg0
  normal{{ bang }} d2ge
  normal! p

Then:
  AssertEqual 3, line("."), "line should be 3, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  ccc
  
  bb
  

Execute (named register for motion ge, delete):
  normal! 4gg0
  normal{{ bang }} "ad2ge

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  ccc

Execute (named register for motion ge, delete + paste):
  normal! 4gg0
  normal{{ bang }} "ad2ge
  normal! "ap

Then:
  AssertEqual 3, line("."), "line should be 3, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  ccc
  
  bb
  

---

Given (aa bb quote):
  aa
  
  bb"
  

Execute (unnamed register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} d3e
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb"
  

Execute (unnamed register for motion ge, delete + paste):
  normal! G0
  normal{{ bang }} d3ge
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb"
  

---

Given (text with backslash quote):
  aa
  
  bb\"
  

Execute (unnamed register for motion e, delete + paste):
  normal! 2gg0
  normal{{ bang }} d3e
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb\"
  

Execute (unnamed register for motion ge, delete + paste):
  normal! G0
  normal{{ bang }} d3ge
  normal! p

Then:
  AssertEqual 2, line("."), "line should be 2, but got " . line(".")
  AssertEqual 1, col("."), "col should be 1, but got " . col(".")

Expect:
  aa
  
  bb\"
  


{% endif %}

---

Before:
After:
