* This tests for a bug where in all visual modes, backward motions cannot go up
* beyond an empty line.

{% set keys = ["w", "W", "e", "E", "b", "B", "ge", "gE"] -%}
{%- set bang = "!" if verify else "" -%}
{%- set vim_compatible = true -%}
{%- set nvim_compatible = true %}

Before:
  {%- for k in keys %}
  map {{ k }} <Plug>(Jieba_{{ k }})
  {%- endfor %}

After:
  {%- for k in keys %}
  unmap {{ k }}
  {%- endfor %}

---

{%- if (not vim or vim_compatible) and (not nvim or nvim_compatible) %}

Given (abc):
  
  
  abc

Execute (motion b, character, x1):
  normal! G$
  execute "normal{{ bang }} vb\<Esc>"

Then:
  AssertEqual 3, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, character, x2):
  normal! G$
  execute "normal{{ bang }} vbb\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, character, x3):
  normal! G$
  execute "normal{{ bang }} vbbb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, block, x1):
  normal! G$
  execute "normal{{ bang }} \<C-v>b\<Esc>"

Then:
  AssertEqual 3, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, block, x2):
  normal! G$
  execute "normal{{ bang }} \<C-v>bb\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, block, x3):
  normal! G$
  execute "normal{{ bang }} \<C-v>bbb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, line, x1):
  normal! G$
  execute "normal{{ bang }} Vb\<Esc>"

Then:
  AssertEqual 3, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, line, x2):
  normal! G$
  execute "normal{{ bang }} Vbb\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, line, x3):
  normal! G$
  execute "normal{{ bang }} Vbbb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

---

Given (abc):
  
  
  abc

Execute (motion ge, character, x1):
  normal! G$
  execute "normal{{ bang }} vge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, character, x2):
  normal! G$
  execute "normal{{ bang }} vgege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, block, x1):
  normal! G$
  execute "normal{{ bang }} \<C-v>ge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, block, x2):
  normal! G$
  execute "normal{{ bang }} \<C-v>gege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, line, x1):
  normal! G$
  execute "normal{{ bang }} Vge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, line, x2):
  normal! G$
  execute "normal{{ bang }} Vgege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

---

Given (a):
  
  
  a

Execute (motion b, character, x1):
  normal! G$
  execute "normal{{ bang }} vb\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, character, x2):
  normal! G$
  execute "normal{{ bang }} vbb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, block, x1):
  normal! G$
  execute "normal{{ bang }} \<C-v>b\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, block, x2):
  normal! G$
  execute "normal{{ bang }} \<C-v>bb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, line, x1):
  normal! G$
  execute "normal{{ bang }} Vb\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion b, line, x2):
  normal! G$
  execute "normal{{ bang }} Vbb\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

---

Given (a):
  
  
  a

Execute (motion ge, character, x1):
  normal! G$
  execute "normal{{ bang }} vge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, character, x2):
  normal! G$
  execute "normal{{ bang }} vgege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, block, x1):
  normal! G$
  execute "normal{{ bang }} \<C-v>ge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, block, x2):
  normal! G$
  execute "normal{{ bang }} \<C-v>gege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, line, x1):
  normal! G$
  execute "normal{{ bang }} Vge\<Esc>"

Then:
  AssertEqual 2, line("'<")
  AssertEqual 1, col("'<")

Execute (motion ge, line, x2):
  normal! G$
  execute "normal{{ bang }} Vgege\<Esc>"

Then:
  AssertEqual 1, line("'<")
  AssertEqual 1, col("'<")


{% endif %}

---

Before:
After:
