// Copyright 2026 Kaiwen Wu. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License. You may obtain a copy
// of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations
// under the License.

#V 5

? !has:nvim

#X bi

#E CursorMoved=
#E CursorMovedI=
#E CmdlineChanged=
#E CmdlineEnter=
#E CmdlineLeave=
#E InsertEnter=
#E InsertChange=
#E InsertLeave=
#E ModeChanged=
#E OptionSet=
#E TextChanged=
#E TextChangedI=
#E TextYankPost=

{%- for key in ['w', 'e'] %}
  {%- for count in [0, 1, 2, 3, 4, 10293949403] %}
    {%- for buffer in forward_buffers %}

M n
K {{ key }}
B0 {{ buffer }}
C {{ count }}
      {%- for operator in ['d', 'c', 'y'] %}

M o
K {{ key }}
O {{ operator }}
R a
B0 {{ buffer }}
C {{ count }}
S1 "a= '[= ']= '<= '>=
      {%- endfor %}

M o
K {{ key }}
O g~
B0 {{ buffer }}
C {{ count }}
S1 '[= ']= '<= '>=
    {%- endfor %}
    {%- for buffer in visual_buffers %}
      {%- for visualmode in ['v', 'V', '\\<C-v>'] %}

M {{ visualmode }}
K {{ key }}
B0 {{ buffer }}
C {{ count }}
S1 visualmode()= '[= ']=
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

{%- for key in ['b', 'ge'] %}
  {%- for count in [0, 1, 2, 3, 4, 10293949403] %}
    {%- for buffer in backward_buffers %}

M n
K {{ key }}
B0 {{ buffer }}
C {{ count }}
      {%- for operator in ['d', 'c', 'y'] %}

M o
K {{ key }}
O {{ operator }}
R a
B0 {{ buffer }}
C {{ count }}
S1 "a= '[= ']= '<= '>=
      {%- endfor %}

M o
K {{ key }}
O g~
B0 {{ buffer }}
C {{ count }}
S1 '[= ']= '<= '>=
    {%- endfor %}
    {%- for buffer in visual_buffers %}
      {%- for visualmode in ['v', 'V', '\\<C-v>'] %}

M {{ visualmode }}
K {{ key }}
B0 {{ buffer }}
C {{ count }}
S1 visualmode()= '[= ']=
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

{%- for key in ['iw', 'aw'] %}
  {%- for count in [0, 1, 2, 3, 4, 10293949403] %}
    {%- for buffer in forward_buffers %}
      {%- for operator in ['d', 'c', 'y'] %}

M o
K {{ key }}
O {{ operator }}
R a
B0 {{ buffer }}
C {{ count }}
S1 "a= '[= ']= '<= '>=
      {%- endfor %}

M o
K {{ key }}
O g~
B0 {{ buffer }}
C {{ count }}
S1 '[= ']= '<= '>=
    {%- endfor %}
    {%- for buffer in visual_buffers %}
      {%- for visualmode in ['v', 'V', '\\<C-v>'] %}

M {{ visualmode }}
K {{ key }}
B0 {{ buffer }}
C {{ count }}
S1 visualmode()= '[= ']=
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

{%- for key in ['\\<C-w>'] %}
  {%- for buffer in backward_buffers + insert_eol_buffers %}

M i
K {{ key }}
B0 {{ buffer }}
S1 "a= '[= ']= '<= '>=
  {%- endfor %}
{%- endfor %}

// vim: ft=jieba_test_case
